/* Specific styles for navigation bar */
nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
