{% extends "base.html" %}

{% block title %}Dashboard - iGaming Platform{% endblock %}

{% block content %}
    <h1>Game Dashboard</h1>
    <p>Manage your games and view analytics here.</p>
{% endblock %}
