{% extends "base.html" %}

{% block title %}Home - iGaming Platform{% endblock %}

{% block content %}
    <h1>Welcome to the iGaming Platform</h1>
    <p>This is your one-stop hub for engaging and exciting games!</p>
{% endblock %}
